* {
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    overflow: hidden;
}

.action {
    
    background-color: white;
    border: 3px solid black;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
    

}

h1{
    font-size: 5rem;
    margin: 1rem 1rem 2rem 1rem;
}

.action:active {
    transform: translateY(1px);
}

.scores {
 
    font-weight: 600;
    font-size: 5rem;
   
}

.scores #human{
    color: lightblue;
}

.scores #computer{
    color: lightcoral
}

.roundMessage {
    font-style: italic;
    font-size: 2rem;
}

.result {
    margin-top: 0.5rem;
    font-size: 4rem;
    font-weight: 700;
}